image: rosiney/mkdkr
options:
  docker: true

pipelines:
  default:
  {%- for stage in jobs|map(attribute='stage')|unique|list %}
  {%- if jobs|selectattr('stage', 'equalto', stage)|list|count > 1 %}
    - parallel:
      {%- for job in jobs|selectattr('stage') %}
        {%- if job.stage == stage %}
        - step:
            name: {{ job.name }}
            script:
              - {{ job.cmd }}
        {%- endif %}
      {%- endfor %}
  {%- else %}
    {%- for job in jobs|selectattr('stage') %}
      {%- if job.stage == stage %}
    - step:
        name: {{ job.name }}
        script:
          - {{ job.cmd }}
      {%- endif %}
    {%- endfor %}
  {%- endif %}
  {%- endfor %}
