# pipeline autogen by mkdkr_exporter
# https://gitlab.com/rosiney.gp/mkdkr_exporter

name: CI

on: [push]

jobs:
  pipeline:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
{%- for stage in jobs|map(attribute='stage')|unique|list %}
  {%- for job in jobs|selectattr('stage') %}
    {%- if job.stage == stage %}
    - name: {{ job.name }}
      run: {{ job.cmd }}
    {%- endif %}
  {%- endfor %}
{%- endfor %}
