# pipeline autogen by mkdkr_exporter
# https://gitlab.com/rosiney.gp/mkdkr_exporter

name: CI

on: [push]

jobs:
{%- for stage in jobs|map(attribute='stage')|unique|list %}
  {%- for job in jobs|selectattr('stage') %}
    {%- if job.stage == stage %}
  {{ job.name | replace(" ", "_") }}:
    runs-on: ubuntu-latest
    {%- if jobs|map(attribute='stage')|unique|list|length > 1 %}
      {%- for need in jobs|map(attribute='stage')|unique|list %}
        {%- if need == stage and loop.previtem %}
    needs: 
          {%- for need_job in jobs|selectattr('stage', 'equalto', loop.previtem) %}
      - {{ need_job.name | replace(" ", "_") }}
          {%- endfor %}
        {%- endif %}
      {%- endfor %}
    {%- endif %}
    steps:
    - uses: actions/checkout@v1
    - name: {{ job.name }}
      run: {{ job.cmd }}
    {%- endif %}
  {%- endfor %}
{%- endfor %}
