# pipeline autogen by mkdkr_exporter
# https://gitlab.com/rosiney.gp/mkdkr_exporter

stages:
  {%- for stage in jobs|map(attribute='stage')|unique|list %}
  - {{ stage }}
  {%- endfor %}

services:
  - docker:19.03.1-dind

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"

image: rosiney/mkdkr

{%- for stage in jobs|map(attribute='stage')|unique|list %}
  {%- for job in jobs|selectattr('stage') %}
    {%- if job.stage == stage %}

{{ job.name }}:
  stage: {{ job.stage }}
  script:
  - {{ job.cmd }}

    {%- endif %}
  {%- endfor %}
{%- endfor %}
