# pipeline autogen by mkdkr_exporter
# https://gitlab.com/rosiney.gp/mkdkr_exporter

language: minimal

dist: bionic

services:
  - docker

before_install:
  - sudo apt-get install -y make

jobs:
  include:
{%- for stage in jobs|map(attribute='stage')|unique|list %}
  {%- for job in jobs|selectattr('stage') %}
    {%- if job.stage == stage %}
    - stage: {{ job.stage }}
      name: {{ job.name }}
      script: {{ job.cmd }}
    {%- endif %}
  {%- endfor %}
{%- endfor %}
